.o_report_layout_striped {
    background-color: $white;
    background: none;
    tbody {
        color: $black;
        tr {
            &:nth-child(odd) {
                background-color: $white;
            }
            &.o_line_section {
                color: $black;
            }
        }
        .fs11 {
            font-size: 11px !important;
        }
        .fs12 {
            font-size: 12px !important;
        }
        .fs13 {
            font-size: 13px !important;
        }
        .fs14 {
            font-size: 14px !important;
        }
    }
}
