/* Custom Jira CSS */

/* BTN PRIMARY JIRA */
.btn-primary-jira,
.disabled.btn-primary-jira {
    background-color: #0052cc;
    border-color: #0052cc;
}
.btn-primary-jira:hover,
.disabled.btn-primary-jira:hover,
.btn-primary-jira:not(:disabled):not(.disabled):active {
    background-color: #0042a5;
    border-color: #0042a5;
}
.btn-primary-jira:focus,
.focus.btn-primary-jira {
    box-shadow: 0 0 0 0.2rem rgb(0 82 204 / 50%);
}

/* BTN SECONDARY JIRA */
.btn-secondary-jira,
.disabled.btn-secondary-jira {
    color: #0052cc;
}
.btn-secondary-jira:hover,
.disabled.btn-secondary-jira:hover,
.disabled.btn-secondary-jira:focus,
.btn-secondary-jira:not(:disabled):not(.disabled):active,
.btn-secondary-jira:focus,
.focus.btn-secondary-jira {
    color: #0042a5;
}
